/* Estilos generales */
body {
    font-family:Georgia, 'Times New Roman', Times, serif; /* Fuente del cuerpo */
    margin: 0;
    padding: 0;
}

header {
    background-color: #333; /* Fondo oscuro */
    color: white; /* Texto blanco */
    padding: 1rem 2rem; /* Espaciado interno */
}

section, footer {
    margin: 1rem;
}

h2 {
    color:#333;
}





/* Sección del título principal */
.title {
    display: flex; /* Coloca el logo y el texto en línea horizontal */
    align-items: center;
    gap: 2rem; /* Espaciado entre logo y texto */
    font-family: 'Pirata One'; /* Fuente personalizada */
}

/* Logotipo del equipo */
.logo {
    max-width: 100%; /* Ancho máximo */
    max-height: 100px; /* Altura máxima */
}

.name-team {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
}





/* Menú de navegación */
nav .menu {
    display: flex; /* Coloca los enlaces en una línea horizontal */
    list-style: none; /* Quita los puntos de las listas */
    justify-content: space-around; /* Distribuye los enlaces de manera uniforme */
    padding: 1rem; 
    margin: 1rem;
}

/* Enlaces del menú */
nav .menu a{
    color: white; /* Color blanco para los enlaces */
    text-decoration: none; /* Sin subrayado */
    font-size: 1rem;
    transition: color 0.3s ease; /* Transición suave al pasar el ratón */
}

/* Cambio de color al pasar el ratón */
nav .menu a:hover {
    color: #bc45cc;
}





/* Tabla de detalles del juego */

.game-details {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
    background-color: #f9f9f9;
}

.game-details th, .game-details td {
    border: 1px solid #ccc;
    padding: 0.8rem;
}

.game-details th {
    background-color: #333;
    color: white;
    text-align: center;
}




/* Slider */
.carousel {
    position: relative;
    max-width: 300px;
    margin: 2rem auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-container-1, .carousel-container-2 {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.carousel-slide-1, .carousel-slide-2 {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-slide-1 img, .carousel-slide-2 img {
    width: 100%;
    display: block;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-btn.prev-1, .carousel-btn.prev-2 {
    left: 1rem;
}

.carousel-btn.next-1, .carousel-btn.next-2 {
    right: 1rem;
}





/* CONTACTO.HTML */

.form {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 10px; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

form label {
    display: block;
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
}

form input, form textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #fff;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

form input:focus, form textarea:focus {
    border-color: #333;
    outline: none;
}

form button {
    display: block;
    width: 100%; 
    padding: 0.8rem;
    font-size: 1.2rem;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #bc45cc;
}

.form a{
    text-decoration: none;
}

.form a h3{
    text-decoration: none;
    text-align: right;
    color: black;
    transition: color 0.3s ease;
}

.form a h3:hover {
    color: #bc45cc;
}





/* FOOTER */
.footer {
    background-color: #333;
    color: #ffffff;
    padding: 2rem 1rem;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links,
.footer-social-media {
    flex: 1;
    min-width: 250px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 0.5rem;
}

.footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover {
    color: #bc45cc;
}

.footer-social-media .icons a {
    display: inline-block;
    margin-right: 1rem;
    transition: transform 0.3s ease;
}

.footer-social-media .icons a:hover {
    transform: scale(1.2);
}

.footer-social-media .icons img {
    width: auto;
    height: 2rem;
}

.copyright {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.8rem;
    border-top: 1px solid #333;
    padding-top: 1rem;
}








/* MEDIA QUERY */
@media screen and (max-width: 620px) { 
    /* 620px es cuando el menú se empieza a ver mal  */
    
    /* TITULO */
    .title {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        max-height: 50px;
        margin: 0 auto;
    }

    .name-team {
        font-size: 1.5rem;
        margin-top: 0.5rem; 
    }
    
    
    
    
    /* MENÚ */
    nav .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu li{
        padding: 0.5rem;
    }
    

    /* SLIDER */
    .gallery-concepts {
        display: flex;
        flex-direction: column;
    }
    
    
    /* Formulario */
    .form {
        max-width: 600px;
        margin: 2rem auto;
        padding: 1.5rem;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #f9f9f9;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .form h2 {
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
    }

    form label {
        display: block;
        font-size: 1rem;
        color: #333;
        margin-bottom: 0.5rem;
    }

    form input, form textarea {
        width: 100%;
        padding: 0.8rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
        box-sizing: border-box;
        transition: border-color 0.3s ease;
    }

    form input:focus, form textarea:focus {
        border-color: #333;
        outline: none;
    }

    form button {
        display: block;
        width: 100%;
        padding: 0.8rem;
        font-size: 1.2rem;
        color: white;
        background-color: #333;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    form button:hover {
     background-color: #bc45cc;
    }



    /* Footer */
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-links,
    .footer-social-media {
        text-align: center;
    }

    .footer-social-media .icons {
        justify-content: center;
    }
}